
    <!-- form_tag with search field -->
    <%= form_tag( search_url , :method => 'get', style: "display: flex; justify-content: center", id: "my-form", class: 'container') do %>
    <%= text_field_tag(:search, params[:search], class:"search_payloads", placeholder: "Enter name", class:"search_field form-control" )%>
   <button type="submit" class="search_button ms-1 btn btn-secondary">Submit</button>
    <% end %>
